body {
    overflow-x: hidden;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.pageWrap {
    text-align: center;
}
.pageWrap>ul {
    display: inline-block;
}
.pageWrap>ul>li {
    float: left!important;
    list-style: none;
}